@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class],
ol[class] {
  list-style: none;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}

a:hover {
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

.block7 .inputs .btn-form, .block6 .block6-text .block6Btn, .block2 .block2-text .btnBlock2, .header .container .menu .btnHeader {
  background: #75E169;
  color: white;
  border-radius: 5px;
  border: solid 2px #75E169;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.block7 .inputs .btn-form:hover, .block6 .block6-text .block6Btn:hover, .block2 .block2-text .btnBlock2:hover, .header .container .menu .btnHeader:hover {
  background: #75E169;
  color: white;
  border: solid 2px #67AEFC;
  border-radius: 5px;
  text-decoration: none;
  text-decoration: none;
}

.block6 .block6-text .block6Btn:focus, .block2 .block2-text .btnBlock2:focus {
  background: #67AEFC;
  color: white;
  border-radius: 5px;
}

.header {
  background: #67AEFC;
  padding: 18px 0;
  font-family: "Montserrat", sans-serif;
}
.header .container {
  max-width: 1170px;
}
.header .container .logo {
  cursor: pointer;
}
.header .container .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  line-height: 45px;
}
.header .container .menu .sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
.header .container .menu .sub-menu .item-menu {
  padding: 0 17px;
}
.header .container .menu .sub-menu .link-item {
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.header .container .menu .sub-menu .link-item:hover {
  text-decoration: none;
  color: #0e8a00;
}
.header .container .menu .btnHeader {
  padding: 9px 49px;
  text-decoration: none;
  text-transform: uppercase;
}
.header .container .menu .btnHeader:focus {
  background: white;
  color: #67AEFC;
}
.header .container .responsive-menu {
  display: none;
}

.block2 {
  background: url(../img/bg-block2.png);
  padding-top: 54px;
  padding-bottom: 41px;
  background-position: center;
  background-repeat: round;
}
.block2:before {
  content: url(../img/shape.png);
  left: 256px;
  position: relative;
}
.block2 .block2-text h1 {
  color: #484848;
  font-size: 50px;
  font-weight: 900;
}
.block2 .block2-text p {
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 58px;
}
.block2 .block2-text .btnBlock2 {
  padding: 9px 49px;
  text-decoration: none;
  text-transform: uppercase;
}
.block3 {
  padding: 120px 0;
  background: url(../img/bg-block3.png);
}
.block3 .container {
  max-width: 1170px;
}
.block3 .container .block3-title {
  text-align: center;
  margin-bottom: 80px;
}
.block3 .container .block3-title h1 {
  color: #111111;
  font-size: 32px;
  font-weight: 800;
}
.block3 .container .accordion {
  background-color: #ffffff;
  color: black;
  cursor: pointer;
  padding: 16px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 18px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  padding-right: 25px;
  padding-left: 25px;
}
.block3 .container .accordion:before {
  content: "";
  background: #75E169;
  font-size: 18px;
  font-weight: bold;
  float: left;
  height: 20px;
  border-radius: 14px;
  width: 20px;
  margin-left: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
  left: -11px;
  top: 5px;
}
.block3 .container .accordion.active:before {
  content: "";
  background: #67AEFC;
  font-size: 18px;
  font-weight: bold;
  float: left;
  height: 20px;
  border-radius: 14px;
  width: 20px;
  margin-left: 5px;
}
.block3 .container .accordion:after {
  content: "⌄";
  color: #363636;
  font-size: 18px;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.block3 .container .active:after {
  content: "⌃";
}
.block3 .container .panel {
  padding: 0 50px;
  color: #212121;
  background-color: #fff;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease-out;
  transition: max-height 0.3s ease-out;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-bottom: 10px;
}

.block4 {
  background: url(../img/bg-block4.png);
  padding: 143px 0;
}
.block4 .block4-title {
  margin-bottom: 82px;
  text-align: center;
}
.block4 .block4-title h1 {
  color: #000000;
  font-size: 32px;
  font-weight: 800;
}
.block4 .owl-carousel .item {
  border: solid 2px #67AEFC;
  border-radius: 10px;
  padding: 31px 48px;
}
.block4 .owl-carousel .item .item-text h2 {
  color: #000000;
  font-size: 21px;
  font-weight: 700;
}
.block4 .owl-carousel .item .item-text p {
  font-size: 15px;
  color: #000000;
  font-weight: 400;
}
.block4 .owl-carousel .item1 {
  padding: 50px 40px;
}
.block4 .owl-carousel .item2 {
  padding: 31px 40px;
}
.block4 .owl-carousel .owl-nav {
  text-align: center;
  margin-top: 83px;
}
.block4 .owl-carousel .owl-nav .owl-prev {
  outline: none;
  border: solid 2px #67AEFC;
  border-radius: 15px;
  margin-right: 30px;
}
.block4 .owl-carousel .owl-nav .owl-prev i {
  padding: 22px 25px;
}
.block4 .owl-carousel .owl-nav .owl-next {
  outline: none;
  border: solid 2px #67AEFC;
  border-radius: 15px;
}
.block4 .owl-carousel .owl-nav .owl-next i {
  padding: 22px 25px;
}

.block5 {
  background: url(../img/bg-block5.png);
  padding: 121px 0;
}
.block5 .block5-title {
  text-align: center;
  margin-bottom: 51px;
}
.block5 .block5-title h1 {
  color: #111111;
  font-size: 32px;
  font-weight: 800;
}
.block5 .owl-carousel .item .item-img {
  position: relative;
  overflow: hidden;
  margin-bottom: 37px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.block5 .owl-carousel .item .item-img:hover:before {
  display: block;
}
.block5 .owl-carousel .item .item-img:hover .item-text {
  display: block;
}
.block5 .owl-carousel .item .item-img:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #67AEFC;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.block5 .owl-carousel .item .item-img .item-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  font-weight: 900;
  display: none;
  font-family: sans-serif;
  text-align: center;
}
.block5 .owl-carousel .item .item-img .item-text h2 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
}
.block5 .owl-carousel .item .item-img .item-text h2 span {
  color: #ffffff;
  font-size: 21px;
  font-weight: 700;
}

.block6 {
  background: url(../img/bg-block6.png);
  padding: 150px 0;
}
.block6 .container-block6 {
  max-width: 1200px;
}
.block6 .block6-text h1 {
  color: #111111;
  font-size: 32px;
  font-weight: 800;
}
.block6 .block6-text p {
  color: #111111;
  font-size: 18px;
  font-weight: 400;
  margin-top: 53px;
  margin-bottom: 45px;
}
.block6 .block6-text .block6Btn {
  text-transform: uppercase;
  padding: 17px 63px;
}
.block7 {
  position: relative;
  padding-top: 180px;
  padding-bottom: 120px;
  background: #DAECFF;
  text-align: center;
}
.block7 h1 {
  color: #111111;
  font-size: 32px;
  font-weight: 800;
}
.block7 p {
  color: #111111;
  font-size: 18px;
  font-weight: 400;
  max-width: 479px;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 27px;
}
.block7 .inputs {
  max-width: 478px;
  margin: 0 auto;
}
.block7 .inputs input {
  padding: 14px 258px 19px 19px;
  border: solid 1px #67AEFC;
  border-radius: 10px;
  margin-top: 20px;
  outline: none;
}
.block7 .inputs input:focus {
  border: solid 1px #4964ff;
}
.block7 .inputs .massenger:invalid {
  border-color: red;
  color: red;
}
.block7 .inputs .name:invalid {
  border-color: red;
  color: red;
}
.block7 .inputs .form_error {
  color: red;
  text-align: left;
  font-size: 12px;
  margin-top: 3px;
  display: none;
}
.block7 .inputs input:invalid:not(:-moz-placeholder-shown) + .form_error {
  display: block;
}
.block7 .inputs input:invalid:not(:-ms-input-placeholder) + .form_error {
  display: block;
}
.block7 .inputs input:invalid:not(:placeholder-shown) + .form_error {
  display: block;
}
.block7 .inputs .btn-form {
  padding: 18px 94px;
  display: inline-block;
  margin-top: 30px;
}
.block7:before {
  content: url(../img/phone.png);
  position: absolute;
  top: 226px;
  left: 218px;
}
.block7:after {
  content: url(../img/ball.png);
  position: absolute;
  top: 226px;
  right: 323px;
}