@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
ul[class],
ol[class] {
  padding: 0;
}
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
ul[class],
ol[class] {
  list-style: none;
}
img{
    max-width: 100%;
    width: auto;
    height: auto;
}
a:hover{
    text-decoration: none;
}
body{
    font-family: 'Montserrat', sans-serif;
}
%btnNormal {
    background: #75E169;
    color: white;
    border-radius: 5px;
    border: solid 2px #75E169;
    transition: 0.5s;
}
%btnHover{
    background: #75E169;
    color: white;
    border: solid 2px #67AEFC;
    border-radius: 5px;
    text-decoration: none;
}
%btnActive{
    background: #67AEFC;
    color: white;
    border-radius: 5px;
}
%formNorvmal{
    background: white;
    border: 1px solid #67AEFC;
    border-radius: 5px;
}
%formActive{
    background: white;
    border: 2px solid #67AEFC;
    border-radius: 5px;
}

.header{
    background: #67AEFC;
    padding: 18px 0;
    font-family: 'Montserrat', sans-serif;
    .container{
        .logo{
            cursor: pointer;
        }
        max-width: 1170px;
        .menu{
            display: flex;
            justify-content: space-around;
            line-height: 45px;
            .sub-menu{
                display: flex;
                list-style: none;
                .item-menu{
                    padding: 0 17px;
                }
                .link-item{
                    font-size: 16px;
                    color: #ffffff;
                    font-weight: 500;
                    transition: 0.4s;
                    &:hover{
                        text-decoration: none;
                        color: #0e8a00;
                    }
                }
            }
            .btnHeader{
                @extend %btnNormal;
                padding: 9px 49px;
                text-decoration: none;
                text-transform: uppercase;
                &:hover{
                    @extend %btnHover;
                }
                &:focus{
                    background: white;
                    color: #67AEFC;
                }
            }
        }
        .responsive-menu{
            display: none;
        }
    }
    
}
.block2{
    background: url(../img/bg-block2.png);
    padding-top: 54px;
    padding-bottom: 41px;
    background-position: center;
    background-repeat: round;
    &:before{
        content: url(../img/shape.png);
   
    left: 256px;
    position: relative;
    }
    .block2-text{
        h1{
            color: #484848;
            font-size: 50px;
            font-weight: 900;
        }
        p{
            color: #000000;
            font-size: 16px;
            font-weight: 400;
            margin-top: 20px;
            margin-bottom: 58px
        }
        .btnBlock2{
            @extend %btnNormal;
            padding: 9px 49px;
            text-decoration: none;
            text-transform: uppercase;
            &:hover{
                @extend %btnHover;
            }
            &:focus{
                @extend %btnActive;
            }
        }
    }
}
.block3{
    padding: 120px 0;
    background: url(../img/bg-block3.png);
    .container{
        max-width: 1170px;
        .block3-title{
            text-align: center;
            margin-bottom: 80px;
            h1{
                color: #111111;
                font-size: 32px;
                font-weight: 800;
            }
        }
        .accordion {
            background-color: #ffffff;
            color: black;
            cursor: pointer;
            padding: 16px;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 18px;
            transition: 0.5s;
            
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            padding-right: 25px;
            padding-left: 25px;
        }
        .accordion:before{
            content: "";
            background: #75E169;
            font-size: 18px;
            font-weight: bold;
            float: left;
            height: 20px;
            border-radius: 14px;
            width: 20px;
            margin-left: 5px;
            transition: 0.5s;
            position: relative;
            left: -11px;
            top: 5px;
        }
        .accordion.active:before{
            content: "";
            background: #67AEFC;
            font-size: 18px;
            font-weight: bold;
            float: left;
            height: 20px;
            border-radius: 14px;
            width: 20px;
            margin-left: 5px;
        }
        
        
        
        .accordion:after {
            content: '\2304';
            color: rgb(54, 54, 54);
          font-size: 18px;
            font-weight: bold;
            float: right;
            margin-left: 5px;
        }
        
        .active:after {
            content: "\2303";
        }
        
        .panel {
            padding: 0 50px;
          color: #212121;
            background-color: #fff;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.3s ease-out;
            border-bottom-left-radius: 10px;
            border-bottom-right-radius: 10px;
            margin-bottom: 10px;
            
        }
    }
    
}
.block4{
    background: url(../img/bg-block4.png);
    padding: 123px 0;
    .block4-title{
        margin-bottom: 82px;
        text-align: center;
        h1{
            color: #000000;
            font-size: 32px;
            font-weight: 800;
        }
    }
    .owl-carousel{
        .item{
            border: solid 2px #67AEFC;
            border-radius: 10px;
            padding: 31px 48px;
            .item-text{
                h2{
                    color: #000000;
                    font-size: 21px;
                    font-weight: 700;
                }
                p{
                    font-size: 15px;
                    color: #000000;
                    font-weight: 400;
                }
            }
        }
        .item1{
            padding: 50px 40px;
        }  
        .item2{
            padding: 31px 40px;
        }
        .owl-nav{
            text-align: center;
            margin-top: 83px;
            .owl-prev{
                outline: none;
                border: solid 2px #67AEFC;
                border-radius: 15px;
                margin-right: 30px;
                i{
                    padding: 22px 25px;
                }
            }
            .owl-next{
                outline: none;
                border: solid 2px #67AEFC;
                border-radius: 15px;
                i{
                    padding: 22px 25px;
                }
            }
        }
    }
}

